a {
  text-decoration: none;
}

.logo {
  color: white;
  font-size: 2rem;
  margin: auto;
}

/* .side bar menu  */

ul li a.menu-item {
  list-style: none;
  line-height: 4rem;
  text-decoration: none;
  color: white;
}
